footer {
 
    background-color:grey;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 1px;
    text-align: center;
    color: white;
  }

 a{
    color: white;
 }