<div class="container" fxLayout="row" fxLayoutGap="25px">

    <mat-card class="mainCard">
        <mat-card-header>
            <mat-card-title class="header">Sample Copilot Usage API Response (alpha)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ sample_usage_api_response | json }}</pre>
        </mat-card-content>
    </mat-card>

    <mat-card class="mainCard">
        <mat-card-header>
            <mat-card-title class="header">Sample Copilot Seats Assignments API Response (beta)</mat-card-title>
            <mat-card-subtitle><a href='https://docs.github.com/en/rest/copilot/copilot-business'>Copilot for Business APIs</a></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ sample_seats_api_response | json }}</pre>
        </mat-card-content>
    </mat-card>

</div>