<div class="container" fxLayout="row" fxLayoutGap="25px">
    <div class="card-container">
        <mat-card class="summary-card" *ngFor="let seat of seatDetails">
            <mat-card-header>
                <mat-card-title>{{seat.category}}</mat-card-title>
                <mat-card-subtitle>
                    <h1>{{seat.value}}</h1>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{seat.desc}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
    <table matSort (matSortChange)="sortData($event)">
        <tr>
            <th mat-sort-header="user">User</th>
            <th mat-sort-header="createDate">Create Date</th>
            <th mat-sort-header="updatedDate">Updated Date</th>
            <th mat-sort-header="lastActivityDate">Last Activity Date</th>
            <th mat-sort-header="lastActivityEditor">Last Activity Editor</th>
            <th mat-sort-header="pendingCancellation">Pending Cancellation</th>
        </tr>
        <tr *ngFor="let seat of seatInformation | paginate: { itemsPerPage: 30, currentPage: page }">
          <td>{{ seat.assignee.login }}</td>
          <td>{{ seat.created_at | date:'dd-MMM-yyyy' }}</td>
          <td>{{ seat.updated_at | date:'dd-MMM-yyyy'}}</td>
          <td>{{ seat.last_activity_at | date:'dd-MMM-yyyy'}}</td>
          <td>{{ seat.last_activity_editor }}</td>
          <td>{{ seat.pending_cancellation_date| date:'dd-MMM-yyyy' }}</td>
          
        </tr>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      

</div>
