.mainCard{
  height:fit-content;
}
.header{
    color:darkblue;
    font-size: 30px;
    font-weight: bold;
}
mat-card{
    width: 90% !important;
    margin: 4px;
}
#org-summary-chart {
  max-height: 520px;
  width: 95%;
  padding: 10px;
}
.pie-container {
    display: flex;
    justify-content: space-between;
}

#lang-pie-chart {
  max-height: 520px;
  width: 50% !important;
  height: auto !important;
}

#editor-pie-chart{
    max-height: 520px;
    width: 50% !important;
    height: auto !important;
}