/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; margin-bottom: 50px;}

.container {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px;
}